<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "The Middleman" %></title>
    <%= stylesheet_link_tag "bootstrap", "Phatto" %>
    <%= javascript_include_tag "all" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AirCal</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log in</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Start plan</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
