---
title: Manage
---

<ul>
  <li><%= link_to "Main", '/07_main.html' %></li>
  <li><%= link_to "Manage", '/01_manage.html' %></li>
  <li><%= link_to "Register", '/02_register.html' %></li>
  <li><%= link_to "Log in", '/03_login.html' %></li>
  <li><%= link_to "User manage 1", '/04_user_manage_01.html' %></li>
  <li><%= link_to "User manage 2", '/04_user_manage_02.html' %></li>
  <li><%= link_to "Mechanic", '/05_mechanic.html' %></li>
  <li><%= link_to "Job detail 1", '/06_job_01.html' %></li>
  <li><%= link_to "Job detail 2", '/06_job_02.html' %></li>
  <li><%= link_to "Job detail 3", '/06_job_03.html' %></li>
  <li><%= link_to "Job detail 4", '/06_job_04.html' %></li>
</ul>
